<!DOCTYPE html>
<html lang="en">
<head>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Movie Recommendation</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1>Movie Recommendation</h1>
        <h2>Welcome to the RAISO Movie Recommendation System!</h2>
        <p>Enter the official name of any movie (as it appears on IMDb) to get
            data on its year, genres, rating, vote count, and a movie poster!</p>
        <p>Our recommendation system will also give you a rating from 1 (terrible)
            to 5 (awesome) based on the live RAISO data from last Monday's workshop.</p>
        <form method="post">
            <label for="movie_name">Enter a movie name:</label>
            <input type="text" id="movie_name" name="movie_name" required>
            <button type="submit">Submit</button>
        </form>
        
        {% if new_movie_prediction is defined %}
            <h2>Predicted Rating:</h2>
            <p>{{ new_movie_prediction }}</p>

            <h2>Details of the New Movie:</h2>
            <p>Rating: {{ new_movie_rating }}</p>
            <p>Year: {{ new_movie_year }}</p>
            <p>Genres: {{ new_movie_genres }}</p>
            
            <h2>Movie Poster:</h2>
            <img src="{{ new_movie_poster_url }}" alt="Movie Poster">
        {% endif %}
    </body>
    </html>
